/*---------------------------------病种页-------------------------------------------*/
/*---------------------------------病种页-------------------------------------------*/
/*---------------------------------病种页-------------------------------------------*/
/*---------------------------------病种页-------------------------------------------*/
/*---------------------------------病种页-------------------------------------------*/
@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  font-size: 0.24rem;
  font-family: "微软雅黑";
}
html,
body {
  max-width: 640px;
  margin: auto;
  background: #f0f0f0;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  font-family: "微软雅黑";
}
i {
	font-style: normal;
}
.clear {
  clear: both;
}
header {
 background: #fff;
}
header img {
	display: block;
}
nav {
  display: flex;
  background: #FFFFFF;
}
nav .nav {
  color: white;
  flex: 1;
  display: inline-block;
  margin: 0.05rem 0;
 padding: 0.05rem 0;
 border-right: 1px solid white;
  justify-content: space-around;
  text-align: center;
  font-size: 0.24rem;
  line-height: 0.3rem;
}


/*loading样式*/
nav .nav:nth-child(4) {
	border-right: none;
}
.banner {
	width: 100%;
	max-width: 640px;
	max-height: 251px;
   overflow: hidden;
}
.banner img {
	width: 100%;
	display: block;
}
.qcd{
	width: 100%;
	max-width: 640px;
	background-color: white;
}
.position {
	width: 6rem;
	padding: .2rem 0;
	font-size: .24rem;
	color: #656565;
	margin: 0 auto;
	border-bottom: 1px solid #ccc;
}
.position>p,.position>p a {
	font-size: 0.28rem;
	color: #656565;
	font-weight: bold;
}
.qcd span {
	color: #55b0ff;
}
.disease-item {
	width: 6rem;
	margin: .2rem auto;
	padding-bottom:.2rem ;
}

.disease-il {
	float: left;
	width: 1.7rem;
	height: 2.1rem;
	background: url(../../src/assets/images/list-qcd.png) no-repeat;
	position: relative;
	overflow: hidden;

}

.disease-il span {
	position: absolute;
	bottom: 0;
	height: .4rem;
	line-height: .4rem;
	width: 100%;
	text-align: center;
	left: 0;
	background: #fff;
	opacity: 0.7;
	-webkit-opacity: 0.7;

}
.disease-ir {
	float: right;
	width: 4.1rem;
}
.disease-ir a {
	width: 1.96rem;
	font-size: 0.24rem;
	height: .45rem;
	line-height: .45rem;
	display: inline-block;
	margin: 0 0.1rem 0.05rem 0;
	text-align: center;
	background: #55b0ff;
	color: white;
}
.disease-ir a:nth-child(2n){
	margin-right: 0;
}
.disease-ir a:last-child {
	width: 100%;
	background: #fd6959;
	height: .6rem;
	line-height: .6rem;
	font-weight: bold;
	background-image: url(../../src/assets/images/click.png);
	background-repeat: no-repeat;
	background-position: 3.2rem 0.15rem;
	background-size: 0.25rem 0.375rem;
	margin-bottom: 0;
}
.realize {
	margin: 0.2rem auto;
	width: 100%;
	height: 2rem;
	background: #fff;
	background-image: url(../../src/assets/images/note.png);
	background-repeat: no-repeat;
	background-position: .35rem .1rem;
	background-size: 1.76rem 1.74rem;
}
.realize h1 {
	margin-left: 2.4rem;
	padding-top: 0.2rem;
	font-size: .24rem;
	color: #656565;
}
.realize span {
	border: 1px solid #55B0FF;
	color: #55b0ff;
	padding: .05rem .1rem;
	width: .9rem;
	font-size: 0.22rem;
	display: inline-block;
	position: relative;
	text-align: center;
	margin-top: .2rem;
	line-height: 0.25rem;
}
.realize span {
	margin-left: 0.15rem;
}
.realize span:nth-child(2) {
	margin-left: 2.4rem;
}
.realize span i {
	font-style: normal;
	font-weight: bold;
	font-size: .42rem;
	position: absolute;
	top: -0.2rem;
	left: -0.16rem;
	line-height: .42rem;
	background: white;
}
.list-yuyue {
	width: 1.6rem;
	display: inline-block;
	margin-top: .15rem;
	margin-left: 2.4rem;
}
.list-yuyue img {
	width: 100%;
}
.list-zx {
	margin-left: .3rem;
}
/*sec1*/
.sec0 {
	width: 100%;
	background: white;
	margin-top: .2rem;
}
.sec1 {
	width: 6rem;
	margin: 0 auto;
	padding-bottom: .2rem;

}
.sec0 h1 {
	width: 6rem;
	text-align: center;
	padding: 0.2rem 0;
	border-bottom: 1px solid #ccc;
}
.sec1 h1 img {
	width: 4.13rem;
}
.title1_list {
	    width: 6rem;
    margin: 0.2rem auto 0;
    
}
.title1_list li {
	    background: #909090;
    height: 0.55rem;
    line-height: 0.55rem;
    float: left;
    margin-bottom: 0.04rem;
}
.title1_list a  {
	    color: #ffffff;
    text-align: center;
    display: block;
}
.sec1>a {
	    color: #ffffff;
    background: #55b0ff;
    display: block;
    width: 6rem;
    margin: 0.2rem auto;
    border-radius: 0.5rem;
    text-align: center;
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
}
/*sec2*/
.sec2 {
	width: 6rem;
		margin: 0 auto;
	padding-bottom: .2rem;
}
.sec2 h1 img {
	width: 3.73rem;
}
.sec2 .tab {
	margin-top: .2rem;
	border: 1px solid #F0F0F0;
}
.sec2 .tab ul {
	width: 1.8rem;
	float: left;
}
.sec2 .tab ul li {
	width: 100%;
	height: .8rem;
	text-align: center;
	line-height: .8rem;
	margin-top: 0.02rem;
	background: #55b0ff;
	color: white;
}
.sec2 .tab .on {
	font-weight: bold;
	color: #55b0ff;
	background: #e6f3ff;
}
.sec2 .tab ul li:first-child {
	margin-top: 0;
}
.sec2 .tab .tab-item {
	width: 4rem;
	float: right;
	margin-top: .2rem;
}
.sec2 .tab .tab-item img {
	width: 1.85rem;
}
.sec2 .tab .tab-item p {
	line-height: .3rem;
}
/*sec3*/
.sec3 {
	width: 6rem;
		margin: 0 auto;
	padding-bottom: .2rem;
}
.sec3 h1 img {
	width: 4.33rem;
}
.process {

	overflow: hidden;
}
.process a {
	position: relative;
}
.process a img {
	width: 1.94rem;
}
.process a span {
	position: absolute;
	width: 100%;
	text-align: center;
	background: #959595;
	opacity: .9;
	bottom: 0;
	left: 0;
	color: white;
	font-size: .2rem;
	padding: 0.05rem 0;
}
.process a span i {
	width: .22rem;
	height: .22rem;
	border-radius: 50%;
	background: white;
	font-weight: bold;
	display: inline-block;
	color: #959595;
	line-height: .22rem;
	font-size: 0.22rem;
}
.list-zixun {
	display: flex;
	margin-top: .2rem;
	justify-content: space-between;
}
.list-zixun a {
	width: 2.9rem;
	
}
/*sec4*/
.sec4 {
	width: 6rem;
		margin: 0 auto;
	padding-bottom: .2rem;
}
.sec4 h1 img {
	width: 100%;
}
.doctor {
	padding-top: .2rem;
}
.doctor:nth-child(4){
	border-bottom: 1px solid #ccc;
}
.doctor>img {
	vertical-align: middle;
}
.docinfo {
	display: inline-block;
	width: 4.65rem;
	float: right;
	border-bottom: 1px solid #F0F0F0;
	padding-bottom: .2rem;
}
.docinfo p {
	font-size: 0.22rem;
	color: #656565;
	line-height: .3rem;
	padding-bottom: 0.1rem;
}

.docinfo b {
	color: #262626;
	font-size: .26rem;
	
}
.doctalk {
	float: right;
	color: #55b0ff;
	padding: .05rem .1rem;
	border: 1px solid #55B0FF;
	border-radius:.05rem ;
	margin-top: -.05rem;
}
/*重要通知*/
.inform {
	width: 100%;
	height: .23rem;
	background: #f8f8f8;
	margin-top: -.2rem;
	overflow: hidden;
	position: relative;
	padding: .15rem 0 .2rem 0;
}

.inform p {
	position: absolute;
	top: .15rem;
	left: 1.8rem;
	font-size: .2rem;
	color: #262626;
	
}
.inform p:nth-child(2){
	animation: bugle2 10s 1s infinite ease-in-out;
}
.inform p:nth-child(3){
	animation: bugle3 10s 1s infinite ease-in-out;
}
.inform p:nth-child(4){
	animation: bugle4 10s 1s infinite ease-in-out;
}
.inform>span {
	margin-left: .1rem;
	
	display: inline-block;
	color: #fe513e;
	letter-spacing: 0.03rem;
	font-weight: bold;
	
	
}
.inform>span>img {
	-webkit-animation: bugle 1s infinite;
	width: 0.21rem;
}
.inform a {
	   float: right;
    margin-right: .2rem;
}
/*sec5*/
.sec5 {
	width: 6rem;
		margin: 0 auto;
	padding-bottom: .2rem;
}
.sec5 h1 img {
	width: 4.93rem;
}
.sec5 .docinfo p:nth-child(1) {
	color: #262626;
	font-size: .26rem;
	font-weight: bold;
}
.euq {
	background: #55b0ff;
	color: white;
	font-size: .16rem;
	padding: 0rem 0.05rem;
	margin-left: .2rem;
	border-radius: .03rem;
}

.sec5 .docinfo {
	width: 4.4rem;
}
.eqp-zx,.eqp-gh {
	width: 2rem;
	text-align: center;
	height: .5rem;
	line-height: .5rem;
	font-size: 0.22rem;
	color: #fe513e;
	border-radius: .05rem;
	border: 1px solid #FE513E;
	display: inline-block;
	margin-top: .2rem;
}
.eqp-gh {
	color: #55b0ff;
	border-color: #55b0ff;
	margin-left: .2rem;
}
/*sec6*/
.sec6 {
	width: 6rem;
		margin: 0 auto;
	padding-bottom: .2rem;
}
.sec6 h1 img {
	width: 100%;
}
.sec6 .lunbo {
	background: #f3f3f3;
	margin-top: .2rem;
}
.lunbo-l {
	width:2.27rem;
	float: left;
}
.lunbo-r>img {
	width: 3.4rem;
	margin-top: .1rem;
}
.lunbo-r {
	float: right;
	margin-right: .1rem;
}
.lunbo-l h2 {
	background: #55B0FF;
	color: white;
	font-size: .24rem;
	width: 1.4rem;
	text-align: center;
	font-weight: 400;
	padding: 0.05rem 0;
	margin-top: .15rem;
	border-radius: .03rem;
}
.lunbo-l p {
	margin-left: .14rem;
	color: #535353;
	font-size: 0.22rem;
	margin-top: .1rem;
}
.lunbo-l a {
	width: 1.5rem;
	height: .4rem;
	line-height: .4rem;
	display: inline-block;
	text-align: center;
	color: #55B0FF;
	border: 1px solid #55B0FF;
	border-radius: .2rem;
	margin: 0.15rem 0 0.1rem .2rem;
}
.clickmore {
	display: block;
	color: #FE513E;
	border: 1px solid #FE513E;
	text-align: center;
	padding: .15rem 0;
	border-radius: .5rem;
	width: 6rem;
	font-weight: bold;
	margin:.2rem auto 0;
}
/*sec7*/
.sec7{
	width: 6rem;
		margin: 0 auto;
	padding-bottom: .2rem;
}
.sec7 h1 img {
	width: 100%;
}
.solution {
	margin-top: .2rem;

}
.solution-item {
	width: 2.96rem;
	padding: 0.25rem 0;
	text-align: center;
	background: #e0eff6;
	font-size: .22rem;
	color: #13729d;
	display: inline-block;
	margin-bottom: .1rem;
}
.solution-item:nth-child(2){
	background: #e0f5e6;
	color: #038c57;
}
.solution-item:nth-child(3){
	background: #d4f4f1;
	color: #0d8e83;
}
.solution-item:nth-child(4){
	background: #f8dfc9;
	color: #a95c36;
	font-weight: regular;
}
.solution-item p {
	width: 1.5rem;
	display: inline-block;
	margin-left: -.3rem;
}
.solution-item img {
	vertical-align: middle;
	float: left;
	width: .54rem;
	margin-top: 0.06rem;
	margin-left: .46rem;
}
/*sec8*/
.sec8{
	width: 6rem;
		margin: 0 auto;
	padding-bottom: .2rem;
}
.sec8 h1 {
	margin-bottom: .2rem;
}
.sec8 h1 img {
	width: 100%;
}
.evaluate>ul{ width:6rem; margin:0 auto;}
.evaluate_treat>li{ float:left;}
.score p{ margin-bottom:0.1rem;}
.evaluate ul li strong{ color:#ffffff; font-size:0.16rem; background:#fe513e; line-height:0.24rem;}
.treat{ text-align:center; border-left:1px solid #dddddd; border-right:1px solid #dddddd;}
.treat>li{ color:#262626; margin-bottom:0.1rem;}
.treat>li strong {padding: .02rem;font-weight: normal;}
.score>p{text-align:center;}
.haoping {
	margin: 0.32rem 0 0 .1rem;
}
.haoping>a{ 
	width: 1.2rem;
	height: .4rem;
	line-height: .4rem;
	text-align: center;
	display: inline-block;
	background: #55B0FF;
	color: white;
	font-size: .2rem;
	border-radius: .05rem;

}
.evaluate_item {
	    display: flex;
    justify-content: space-between;
}
.evaluate_item:first-of-type{
	padding-top: .2rem;
}
.evaluate_item:last-of-type {
	border-bottom: 1px solid #F0F0F0;
	padding-bottom: .1rem;
}
.evaluate_item span {
	color: #262626;
	font-size: 0.22rem;
	background: #ecf6ff;
	display: inline-block;
	width: 32%;
	text-align: center;
	padding: .1rem 0;
	margin-bottom: .1rem;
}
.comment-item {
	margin: .2rem 0;
}
.comment-item .docinfo img {
	width: .96rem;
}
.sec8 .clickmore {
	color: white;
	background: #55B0FF;
	border: none;
	font-weight: normal;
}
/*footer*/
footer{background:#656565;}
footer p:nth-child(1){padding-top:0.38rem;font-weight:bold;}
footer p:nth-child(5){padding-bottom:0.39rem;}
footer p{  text-align:center; color:#ffffff; font-size: 0.22rem; margin:0.075rem auto; line-height:0.31rem;}

/*------------------------------------------文章页css样式-----------------------------------*/
/*------------------------------------------文章页css样式-----------------------------------*/
/*------------------------------------------文章页css样式-----------------------------------*/
/*------------------------------------------文章页css样式-----------------------------------*/
/*------------------------------------------文章页css样式-----------------------------------*/
/*------------------------------------------文章页css样式-----------------------------------*/
.mainbody {
	background: white;
}
.mainarticle {
	width: 6rem;
	max-width: 640px;
	margin:.2rem auto;
}
.mainarticle h1 {
	text-align: center;
	margin: 10px 0;
}
.mainbody-note {
	width:5.6rem ;
	padding:0.3rem 0.2rem;
	background: #f6f6f6;
	margin: auto;
	color: #656565;
	font-size: 0.22rem;
	border: 1px solid #ccc;
}
.ask {
		width: 6rem;
	max-width: 640px;
	margin:.2rem auto;
}
.ask p {
		font-size: 0.22rem;
	color: #262626;
	padding-bottom: .1rem;
	border-bottom: 1px solid #ccc;
}
.ask i {
	font-size: .28rem;
	color: #55b0ff;
}
.ask a {
	display: inline-block;
	padding: .15rem;
	background: #4ab0fa;
	color: #f9f9f9;
	font-size: 0.2rem;
}
.ask a:nth-child(2){
	background: #fe7573;
}
.ask a:nth-child(3){
	background: #41c7ba;
}
.ask a:nth-child(4){
	background: #ff946e;
}
.ask a b {
	color: white;
	font-size: .22rem;
}
.ask-item {
	display: flex;
	padding:  .2rem 0;
justify-content: space-between;
	text-align: center;
}
.article-about {
	width: 6rem;
	margin: auto;
	padding-bottom: .2rem;
}
.article-about h1{
	text-align: left;
	color: #55B0FF;
	font-size: .28rem;
}

.article-about h1 a {
	font-size: 0.22rem;
	color: #fe513e;
	font-weight: 400;
	padding: 0.05rem 0.08rem;
	border: 1px solid #FE513E;
	float: right;
	border-radius: 0.03rem;
}
.article-about ul li {
	text-indent: 0.24rem;
	font-size: 0.22rem;
	color: #656565;padding: 0.1rem 0;
	border-bottom: 1px dashed #ccc;
	background: url(../../src/assets/images/triangle-r.png) left center no-repeat;
	
}
.article-about ul li a {
	color: #656565;
}
.article-about ul li:last-child {
	border-bottom: 1px solid #ccc;
}
.article-about .clickmore {
	  color: white;
    background: #55B0FF;
    border: none;
    font-weight: normal;
}
/*-----------------------------------------医生列表页面样式开始-----------------------------------------------*/
/*-----------------------------------------医生列表页面样式开始-----------------------------------------------*/
/*当前位置开始*/
.current_location{
	background: #ffffff;
	margin-bottom: 0.16rem;
}
.current_location_top p{
	font-size: 0.28rem;
	color: #656565;
	width: 6rem;
	margin: 0 auto;
	padding-bottom: 0.2rem;
	border-bottom: 1px solid #ccc;
	padding-top: 0.17rem;
	text-align: left;
}

.current_location_down p{
	font-size: 0.24rem;
	color: #656565;
	width: 6rem;
	margin: 0 auto;
	line-height: 0.4rem;
	margin-top: 0.17rem;
	padding-bottom: 0.17rem;
	text-align: left;
}
.current_location_down span{
	color: #fe7f74;
}
/*当前位置结束*/

/*本月推荐专家开始*/
.Advice_expert{
	background: white;
	margin-top: 0.17rem;
	padding-bottom: 0.1rem;
	margin-bottom: 0.14rem;
	
}
.Advice_except_top{
	width: 6rem;
	margin: 0 auto;
	border-bottom: 1px solid #ccc;
	padding-bottom: 0.17rem;
}
.Advice_except_top_left{
	font-size: 0.28rem;
	color: #55b0ff;
	float: left;
	margin-top: 0.16rem;
	font-weight: bold;
}
.Advice_except_top_right a{
	color:#fe513e;
	font-size: 0.22rem;
	border:1px solid #FE513E;
	float: right;
	margin-top: 0.16rem;
	padding: 0.02rem;
	
}


.doctor_introduction{
	width: 6rem;
	margin: 0 auto;
	background:url(../../src/assets/images/lymzj_1020_03.jpg ) no-repeat;
	background-size: 100%;
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
	
	
	
}

.doctor_introduction_right{
	
	width: 3.25rem;
	float: right;
	
}
.doctor_introduction_right .name{
	font-size: 0.3rem;
	color: #55b0ff;
	margin-right: 0.2rem;
	
	
}
.doctor_introduction_right .doc_contro{
	margin-bottom: 0.2rem;
	color: #262626;
	margin-top: 0.3rem;
	
}
.introduce{
	font-size: 0.24rem;
	color: #656565;
	line-height: 0.35rem;
	
}
.introduce a{
	color: #FE513E;
	font-size: 0.22rem;
}
.medical_service{
	margin-top: 0.14rem;
}

.medical_service b{
	margin-right: 0.07rem;
	color: #656565;
}
.medical_service img{
	width:1.04rem;
	
}

.consultation{
	margin-top: 0.16rem;
	padding-bottom: 0.1rem;
	
}
.consultation a{
	font-size: 0.22rem;
	width:1rem;
	border-radius:0.05rem ;
	display:inline-block;
	text-align: center;
	padding: 0.05rem 0.16rem;
}
.consultation a:nth-child(1){
 background: #55B0FF;
 border: 1px solid #55B0FF;
 color: white;
	
}
.consultation a:nth-child(2){
	background: #fafafb;
	border: 1px solid #fe5441;
	color: #fe5441;
	
}
/*表格排班开始*/
table{
	
	width: 6rem;
	margin: 0 auto;
	border-collapse: collapse;
	border: 1px solid #DDDDDD;
}

th{
	text-align: center;
	font-size: 0.22rem;
	line-height: 0.41rem;
	border: 1px solid #DDDDDD;
	font-weight: normal;
	
}
td{
	text-align: center;
	font-size: 0.22rem;
	color: #55B0FF;
	line-height: 0.38rem;
	border: 1px solid #DDDDDD;
	
}

/*表格排班结束*/

/*号源更新开始*/
.registration_update{
	width: 6rem;
	margin: 0 auto;
	background: #55b0ff;
	margin-top: 0.2rem;
	padding-bottom: 0.3rem;
	
}
.update_dynamic{
	width:1.96rem;
	margin: 0 auto;
	color: #ffffff;
	font-size: 0.24rem;
	padding-top: 0.28rem;
	font-weight: bold;
	margin-bottom: 0.13rem;
}
.update_dynamic_img{
	width:1.96rem;
	margin: 0 auto;
	display:block;
}
.some_doctor{
	width:93%;
	height: 1.8rem;
	margin: 0 auto;
	margin-top: 0.3rem;
	overflow: hidden;
	position: relative;
}
.some_doctor p{
	width: 98%;
	position: absolute;
	margin: 0 auto;
	background: #ddefff;
	line-height: 0.48rem;
	border-radius: 0.05rem;
	font-size: 0.22rem;
	color: #262626;
	margin-top: 0.1rem;
	
}
.some_doctor p:nth-child(1) {
	top: -0.6rem;
	-webkit-animation:docbugle1 12s infinite ease;
	animation: docbugle1 12s infinite ease;
}
.some_doctor p:nth-child(2) {
	top: 0;
	-webkit-animation:docbugle2 12s infinite ease;
	animation: docbugle2 12s infinite ease;
}
.some_doctor p:nth-child(3) {
	top: 0.6rem;
	-webkit-animation:docbugle3 12s infinite ease;
	animation: docbugle3 12s infinite ease;
}
.some_doctor p:nth-child(4) {
	top: 1.2rem;
	-webkit-animation:docbugle4 12s infinite ease;
	animation: docbugle4 12s infinite ease;
}
.some_doctor p:nth-child(5) {
	top: 1.8rem;
	-webkit-animation:docbugle5 12s infinite ease;
	animation: docbugle5 12s infinite ease;
}
.registration_update .some_doctor img{
	width: 0.42rem;
	margin-left: 0.2rem;
	vertical-align:middle;
}
.some_doctor b{
	margin-left: 0.2rem;
	margin-right: 0.22rem;
}
.some_doctor span{
	color: #fe513e;
	margin-left: 0.3rem;
}
.some_doctor i{
	color: #fe513e;
	font-style: normal;
}

/*号源更新结束*/

/*医生列表开始*/
.total_doctor{
	background: white;
}
.list_doctor{
  width: 6rem;
  margin: 0 auto;
  padding-bottom: 0.2rem;
  padding-top: 0.2rem;
  margin-bottom: 0.15rem;
}
.list_doctor>img{
	width: 1.5rem;
}
.list_doctor_right{
	float: right;
	width: 4.28rem;
	text-align: left;
}
.list_doctor_right p:nth-child(1){
	color: #262626;
	font-size: 0.24rem;
	margin-bottom: 0.1rem;
	
}
.list_doctor_right p:nth-child(1) b{
	margin-right: 0.2rem;
	font-size: 0.26rem;
}


.list_doctor_right p:nth-child(2){
	font-size: 0.24rem;
	margin-bottom: 0.1rem;
	border-left: 2px solid #55B0FF;
	padding-left: .2rem;
}
.list_doctor_right p:nth-child(3){
	color: #909090;
	font-size: 0.24rem;
}

.doctor_consultation{
	margin-top: 0.16rem;
	padding-bottom: 0.1rem;
	
}
.doctor_consultation a{
	font-size: 0.22rem;
	width:1rem;
	border-radius:0.05rem ;
	display:inline-block;
	text-align: center;
	padding: 0.05rem 0.16rem;
}
.doctor_consultation a:nth-child(1){
 background: #55B0FF;
 border: 1px solid #55B0FF;
 color: white;
 margin-right: 0.17rem;
	
}
.doctor_consultation a:nth-child(2){
	background: #fafafb;
	border: 1px solid #fe5441;
	color: #fe5441;
	
}
/*医生列表结束*/

/*远程专家开始*/

.remote_expert{
	background: white;
	margin-top: 0.17rem;
	padding-bottom: 0.1rem;
	margin-bottom: 0.14rem;
	
}
.remote_except_top{
	width: 6rem;
	margin: 0 auto;
	border-bottom: 1px solid #ccc;
	padding-bottom: 0.17rem;
	margin-bottom: 0.2rem;
}
.remote_except_top_left{
	font-size: 0.28rem;
	color: #55b0ff;
	float: left;
	margin-top: 0.16rem;
	font-weight: bold;
}
.remote_except_top_right a{
	color:#fe513e;
	font-size: 0.22rem;
	border:1px solid #FE513E;
	float: right;
	margin-top: 0.16rem;
	padding: 0.02rem;
	border-radius: 0.05rem;
	
}
.remote_except_middle{
	width: 6rem;
	margin: 0 auto;
	margin-bottom: 0.15rem;
}
.remote_except_middle_left{
	width:2.9rem;
	float: left;
	background: url(../../src/assets/images/bonade_1020.jpg) no-repeat;
	background-size: 100%;
	height: 2.78rem;
}
.remote_except_middle_left p{
	text-align: center;
	margin-top: 1.8rem;
	color: #fdfcfc;
	font-size: 0.22rem;
}

.remote_except_middle_left b{
	font-size: 0.24rem;
	color: #fdfcfc;
}

.remote_except_middle_right{
	width:2.9rem;
	float:right;
	background: url(../../src/assets/images/meilani_1020.jpg) no-repeat;
	background-size:100% ;
	height: 2.78rem;
}
.remote_except_middle_right p{
	text-align: center;
	margin-top: 1.8rem;
	color: #fdfcfc;
	font-size: 0.22rem;
}
.remote_except_middle_right b{
	font-size: 0.24rem;
	color: #fdfcfc;
}
.remote_except_middle a{
	
	font-size:.2rem;
	width:1rem;
	padding: 0.05rem 0.2rem;
	display: inline-block;
	background: white;
	color: #55b0ff;
	font-weight: bold;
	margin-left: 0.76rem;
	border-radius: 0.05rem;
	text-align: center;
	margin-top: 0.1rem;

}
/*远程专家结束*/

/*学术研究开始*/
.academic_research{
	background: white;
	margin-top: 0.17rem;
	padding-bottom: 0.1rem;
	margin-bottom: 0.14rem;
	
}
.academic_research_top{
	width: 6rem;
	margin: 0 auto;
	border-bottom: 1px solid #ccc;
	padding-bottom: 0.17rem;
	margin-bottom: 0.2rem;
}
.academic_research_top_left{
	font-size: 0.28rem;
	color: #55b0ff;
	float: left;
	margin-top: 0.16rem;
	font-weight: bold;
}
.academic_research_top_right a{
	color:#fe513e;
	font-size: 0.22rem;
	border:1px solid #FE513E;
	float: right;
	margin-top: 0.16rem;
	padding: 0.02rem;
	border-radius: 0.05rem;
	
}
/*学术研究轮播图*/
.flexslider_academic{
	width: 6rem;
	margin: 0 auto;
}
.academic_research_banner img{
	width: 100%;
}
.click_consult{
	width: 6rem;
	margin: 0rem auto;
}
.click_consult a{
	
	text-align: center;
	background: #55B0FF;
	color: #FFFFFF;
	font-size: 0.24rem;
	display:inline-block;
	border-radius: 0.4rem;
	line-height: 0.6rem;
	width: 6rem;
}
/*学术研究结束*/

/*和润公益活动开始*/
.hrpublic_activites{
	background: white;
	margin-top: 0.17rem;
	padding-bottom: 0.1rem;
	margin-bottom: 0.14rem;
	
}
.hrpublic_activites_top{
	width: 6rem;
	margin: 0 auto;
	border-bottom: 1px solid #ccc;
	padding-bottom: 0.17rem;
	margin-bottom: 0.2rem;
}
.hrpublic_activites_top_left{
	font-size: 0.28rem;
	color: #55b0ff;
	float: left;
	margin-top: 0.16rem;
	font-weight: bold;
}
.hrpublic_activites_top_right a{
	color:#fe513e;
	font-size: 0.22rem;
	border:1px solid #FE513E;
	float: right;
	margin-top: 0.16rem;
	padding: 0.02rem;
	border-radius: 0.05rem;
	
}
.hrpublic_activites_middle{
	width: 6rem;
	margin: 0 auto;
	border:1px solid #dddddd;
	margin-bottom: 0.2rem;
	
}

.tab_menu{
	width: 1.09rem;
	float: left;
	
}
.tab_menu li{
	width: 1.09rem;
	height: 33.33%;
	background: #ececec;
	color: #7c7c7c;
	text-align: center;
	vertical-align: middle;
	padding-top: 0.24rem;
	padding-bottom: 0.245rem;
	
}
.tab_box{
	float: right;
}
.tab_box ul{
	width: 4.89rem;
}
.tab_box li{
	width: 2.23rem;
	float: left;
	margin: 0.1rem;
	
}
.tab_box li img{
	width: 100%;
}
.tab_menu .current{
	background: #55b0ff;
	color: #ffffff;
}
.hide{ display: none;}
/*和润公益活动结束*/


/*-----------------------------------------医生列表页面样式结束-----------------------------------------------*/
/*-----------------------------------------医生列表页面样式结束-----------------------------------------------*/







/*-----------------------------------------诊疗设备页面样式开始-----------------------------------------------*/
/*-----------------------------------------诊疗设备页面样式开始-----------------------------------------------*/
.instrument_and_equipmen{
	background: white;
	padding-bottom: 0.2rem;
}
.instrument_and_equipmen_top{
	width: 6rem;
	margin: 0 auto;
	border-bottom: 1px solid #ececec;
	padding-bottom: 0.15rem;
}
.instrument_and_equipmen_top_left{
	width: 2.0rem;
	margin-right: 0.2rem;
	float: left;
}
.instrument_and_equipmen_top_left img{
	width: 100%;
	display: block;
	margin: 0.2rem auto;
}
.instrument_and_equipmen_top_right{
	width: 3.6rem;
	float: left;
	padding-bottom: 0.2rem;
}
.instrument_and_equipmen_top_right p:nth-child(1){
	color:#262626;
	margin-bottom: 0.08rem;
	font-weight: bold;
	font-size: 0.26rem;
	margin-top: 0.2rem;
}
.instrument_and_equipmen_top_right p:nth-child(2){
	color:#656565;
	font-size: 0.22rem;
	border-left:2px solid #55b0ff;
	padding-left: 0.16rem;
	margin-bottom: 0.08rem;
	
}
.instrument_and_equipmen_top_right p:nth-child(3){
	color:#909090;
	font-size: 0.22rem;
	margin-bottom: 0.08rem;
	
}
.instrument_and_equipmen_top_right p:nth-child(3) strong{
	color:#656565;
}
.instrument_and_equipmen_top_right a{
	width: 2.5rem;
	text-align: center;
	display: block;
	border: 1px solid #fe513e;
	color: #fe513e;
	border-radius: 0.08rem;
	padding: 0.03rem 0;
}
.instrument_and_equipmen_middle{
	margin-bottom: 0.2rem;
}
.instrument_and_equipmen_middle ul{
	width: 6rem;	
	margin: 0 auto;
	margin-top: 0.2rem;
}
.instrument_and_equipmen_middle ul li{
	width:2.2rem;
	float: left;
	margin-right: 0.1rem;
}
.instrument_and_equipmen_middle ul li p{
	background: #f0f0f0;
	font-size: 0.22rem;
	color: #55b0ff;
	font-weight: bold;
	text-align: center;
	padding: 0.38rem 0;
	
	
	
}
.instrument_and_equipmen_middle ul li img{
	width: 100%;
}

.instrument_and_equipmen_bottom a{
	display: block;
	text-align: center;
	color:#ffffff ;
	background: #55b0ff;
	font-size: 0.24rem;
	width: 6rem;
	margin: 0 auto;
	padding: 0.16rem 0;
	border-radius: 0.5rem;
	
}
@media only screen and (max-width: 375px)  {
	.instrument_and_equipmen_top_right p:nth-child(1){
		margin-bottom: 0.16rem;
	}
	.instrument_and_equipmen_top_right p:nth-child(3){
		margin-bottom: 0.16rem;
	}
	.instrument_and_equipmen_top_right p:nth-child(2){
		margin-bottom: 0.16rem;
	}
	.instrument_and_equipmen_top{
		padding-bottom: 0;
	}
	.instrument_and_equipmen_middle ul li p{
		padding: 0.42rem 0;
	}
}

.list-anli {
	margin-top: 0.2rem;
}



/*-----------------------------------------诊疗设备结束-----------------------------------------------*/
/*-----------------------------------------诊疗设备结束-----------------------------------------------*/

/*-----------------------------------------文章列表开始-----------------------------------------------*/
/*-----------------------------------------文章列表开始-----------------------------------------------*/
#list_article .doctor {
	border-bottom: 1px solid #ccc;
	padding-bottom: .2rem;
}
#list_article .docinfo {
	width: 67%;
	padding-bottom: 0;
	border: none;
}
#list_article .docinfo>a {
	display: block;
	width: 1.5rem;
	height: 0.37rem;
	line-height: 0.37rem;
	text-align: center;
	color: #55b0ff;
	border: 1px solid #55b0ff;
}
#list_article .hotpoint {
	text-align: left;
	color: #55B0FF;
	font-size: 0.28rem;
	padding-top: 0.2rem;
}
#list_article .hotpoint a {
	color: #FE513E;
	font-weight: 400;
	float: right;
	display: block;
	padding: 0.05rem 0.1rem;
	border: 1px solid #FE513E;
	line-height: 0.3rem;
	text-align: center;
	border-radius:0.04rem ;
	font-size: 0.22rem;
}
#list_article .sec2 .tab {
	border: none;
}
#list_article .sec2 .tab .tab-item {
	width: 5.6rem;
	padding: .2rem;
	float: none;
	background: #f6f6f6;
}
#list_article .sec2 .tab .tab-item img {
	width: 1.8rem;
	float: left;
}
#list_article .sec2 .tab .tab-item p {
	width: 60%;
	float: right;
	color: #656565;
	margin-top: 0.1rem;
}
#list_article .sec2 .tab .tab-item p:nth-child(3){
	margin-bottom: 0.1rem;
}
#list_article .sec2 .tab .tab-item p:nth-child(2){
	border-bottom: 1px solid #ccc;
	padding-bottom: .1rem;
}
#list_article .sec2 .tab .tab-item p b {
	color: #262626;
	font-size: 0.26rem;
}
#list_article .sec2 .tab .tab-item p a {
	padding: 0.05rem 0.2rem;
	border: 1px solid #FE513E;
	color: #FE513E;
	border-radius: 0.05rem;
}
#list_article .sec2 .tab .tab-item p a:nth-child(2){
	background:#55B0FF;
	color: white;
	border: none;
	margin-left: 0.2rem;
}
#list_article .sec2 .tab ul {
	width: 100%;
	float: none;
	display: flex;
	justify-content: space-between;
	margin-top: 0.2rem;
}
#list_article .sec2 .tab ul li {
	width: 29.5%;
	padding:0.1rem;
	height: 0.6rem;
	background: #f6f6f6;
}
#list_article .sec2 .tab ul li img {
	width: 0.6rem;
	float: left;
}
#list_article .sec2 .tab ul li p {
	float: right;
	line-height: 0.3rem;
	text-align: left;
	color: #656565;
	font-size: 0.22rem;
}
#list_article .sec2 .tab ul li p b {
	color: #262626;
}

#list_article .sec2 .tab .on {
	background: #fff;
}

@media only screen and (max-width: 320px) {
	.realize span {
		width: .96rem;
	}
	.realize span:nth-child(2) {
		margin-left: 2.3rem;
	}
	.sec2 .tab .tab-item p {
		line-height: .3rem;
	}
	.inform {
		background-position-x: 0;
	}
	.inform>span {
		letter-spacing: 0;
		margin-left: .2rem;
	}
	.inform p {
		left: 1.3rem;
	}
	.inform a img {
		width: .77rem !important;
	}
	.sec5 .docinfo p:nth-child(1) {
		font-size: .34rem;
	}
	.comment-item .docinfo img {
		width: 0.9rem;
	}
	.comment-item .docinfo {
		width: 5.19rem !important;
	}
	.lunbo-r>img {
		width: 3.3rem;
	}
	.lunbo-l {
		width: 2.6rem;
	}
/*医生列表*/
.list_doctor_right p {
	margin-bottom: 0 !important;
}
.doctor_consultation {
	margin-top: 0;
	padding-bottom: 0;
}
/*文章列表页面*/
#list_article .sec2 .tab ul li {
	width: 30.5%;
	padding: 0.05rem;
}

/*文章页*/
.ask a {
	padding: 0.15rem 0.05rem;
}
}

@keyframes bugle{
	from{opacity: 1;}
	to{opacity: 0;}
}

@keyframes bugle2{
	0{top: 0.15rem;opacity: 1;}
	30%{top:-0.42rem;opacity: 0;}
	66%{top:0.78rem;opacity: 0;}
	100%{top: 0.15rem;opacity: 1;}
}
@keyframes bugle3{
	0{top: 0.78rem;opacity: 0;}
	30%{top:0.15rem;opacity: 1;}
	66%{top:-0.42rem;opacity: 0;}
	100%{top: 0.78rem;opacity: 0;}
}
@keyframes bugle4{
	0{top: -0.42rem;opacity: 0;}
	30%{top:0.78rem;opacity: 0;}
	66%{top:0.15rem;opacity: 1;}
	100%{top: -0.42rem;opacity: 0;}
}
/*轮播图*/
.flex-direction-nav {
	display: none;
}
.list-anli .flex-control-nav {
	display: block;
}
.flex-control-nav {
	margin-left: 2.5rem;
}
.flex-control-nav li {
	float: left;
	margin: 0.08rem 0 0.1rem 0.2rem;
}
.flex-control-nav li a {
	width: 0.15rem;
	height: 0.15rem;
	border-radius: 50%;
	background: #ddd;
	color: transparent;
	display: inline-block;
	
}
.flex-control-nav .flex-active {
	background: #55b0ff;
}
/*医生列表动画*/

@-webkit-keyframes docbugle1{
	0{top: -0.6rem;opacity: 0;}
	20%{top:1.8rem;opacity: 0;}
	40%{top:1.2rem;opacity: 1;}
	60%{top: 0.6rem;opacity: 1;}
	80%{top: 0rem;opacity: 1;}
	100%{top: -0.6rem;opacity: 0;}
}

@keyframes docbugle1{
	0{top: -0.6rem;opacity: 0;}
	20%{top:1.8rem;opacity: 0;}
	40%{top:1.2rem;opacity: 1;}
	60%{top: 0.6rem;opacity: 1;}
	80%{top: 0rem;opacity: 1;}
	100%{top: -0.6rem;opacity: 0;}
}
@keyframes docbugle2{
	0{top: 0rem;opacity: 1;}
	20%{top:-0.6rem;opacity: 0;}
	40%{top:1.8rem;opacity: 0;}
	60%{top: 1.2rem;opacity: 1;}
	80%{top: 0.6rem;opacity: 1;}
	100%{top: 0rem;opacity: 1;}
}
@keyframes docbugle3{
	0{top: 0.6rem;opacity: 1;}
	20%{top:0rem;opacity: 1;}
	40%{top:-0.6rem;opacity: 0;}
	60%{top: 1.8rem;opacity: 0;}
	80%{top: 1.2rem;opacity: 1;}
	100%{top: 0.6rem;opacity: 1;}
}
@keyframes docbugle4{
	0{top: 1.2rem;opacity: 1;}
	20%{top:0.6rem;opacity: 1;}
	40%{top:0rem;opacity: 1;}
	60%{top: -0.6rem;opacity: 0;}
	80%{top: 1.8rem;opacity: 0;}
	100%{top: 1.2rem;opacity: 1;}
}
@keyframes docbugle5{
	0{top: 1.8rem;opacity: 0;}
	20%{top:1.2rem;opacity: 1;}
	40%{top:0.6rem;opacity: 1;}
	60%{top: 0rem;opacity: 1;}
	80%{top: -0.6rem;opacity: 0;}
	100%{top: 1.8rem;opacity: 0;}
}
@media only screen and (min-width: 100px) and (max-width: 359px) {
.some_doctor {
	width: 96%;
}
.some_doctor p:nth-child(1) {
	top: -30px;
}
.some_doctor p:nth-child(2) {
	top: 0px;
}
.some_doctor p:nth-child(3) {
	top: 30px;
}
.some_doctor p:nth-child(4) {
top: 60px;
}
.some_doctor p:nth-child(5) {
	top: 90px;
}
@keyframes docbugle1{
	0{top: -30px;opacity: 0;}
	20%{top:90px;opacity: 0;}
	40%{top:60px;opacity: 1;}
	60%{top: 30px;opacity: 1;}
	80%{top: 0px;opacity: 1;}
	100%{top: -30px;opacity: 0;}
}
@keyframes docbugle2{
	0{top: 0px;opacity: 1;}
	20%{top:-30px;opacity: 0;}
	40%{top:90px;opacity: 0;}
	60%{top: 60px;opacity: 1;}
	80%{top: 30px;opacity: 1;}
	100%{top: 0px;opacity: 1;}
}
@keyframes docbugle3{
	0{top: 30px;opacity: 1;}
	20%{top:0px;opacity: 1;}
	40%{top:-30px;opacity: 0;}
	60%{top: 90px;opacity: 0;}
	80%{top: 60px;opacity: 1;}
	100%{top: 30px;opacity: 1;}
}
@keyframes docbugle4{
	0{top: 60px;opacity: 1;}
	20%{top:30px;opacity: 1;}
	40%{top:0px;opacity: 1;}
	60%{top: -30px;opacity: 0;}
	80%{top: 90px;opacity: 0;}
	100%{top: 60px;opacity: 1;}
}
@keyframes docbugle5{
	0{top: 90px;opacity: 0;}
	20%{top:60px;opacity: 1;}
	40%{top:30px;opacity: 1;}
	60%{top: 0px;opacity: 1;}
	80%{top: -30px;opacity: 0;}
	100%{top: 90px;opacity: 0;}
}
}
@media only screen and (min-width: 360px) and (max-width: 414px) {
.some_doctor {
	height: 2rem;
}
.some_doctor p:nth-child(1) {
	top: -40px;
}
.some_doctor p:nth-child(2) {
	top: 0px;
}
.some_doctor p:nth-child(3) {
	top: 40px;
}
.some_doctor p:nth-child(4) {
top: 80px;
}
.some_doctor p:nth-child(5) {
	top: 120px;
}
@keyframes docbugle1{
	0{top: -40px;opacity: 0;}
	20%{top:120px;opacity: 0;}
	40%{top:80px;opacity: 1;}
	60%{top: 40px;opacity: 1;}
	80%{top: 0px;opacity: 1;}
	100%{top: -40px;opacity: 0;}
}
@keyframes docbugle2{
	0{top: 0px;opacity: 1;}
	20%{top:-40px;opacity: 0;}
	40%{top:120px;opacity: 0;}
	60%{top: 80px;opacity: 1;}
	80%{top: 40px;opacity: 1;}
	100%{top: 0px;opacity: 1;}
}
@keyframes docbugle3{
	0{top: 40px;opacity: 1;}
	20%{top:0px;opacity: 1;}
	40%{top:-40px;opacity: 0;}
	60%{top: 120px;opacity: 0;}
	80%{top: 80px;opacity: 1;}
	100%{top: 40px;opacity: 1;}
}
@keyframes docbugle4{
	0{top: 80px;opacity: 1;}
	20%{top:40px;opacity: 1;}
	40%{top:0px;opacity: 1;}
	60%{top: -40px;opacity: 0;}
	80%{top: 120px;opacity: 0;}
	100%{top: 80px;opacity: 1;}
}
@keyframes docbugle5{
	0{top: 120px;opacity: 0;}
	20%{top:80px;opacity: 1;}
	40%{top:40px;opacity: 1;}
	60%{top: 0px;opacity: 1;}
	80%{top: -40px;opacity: 0;}
	100%{top: 120px;opacity: 0;}
}
}